header {
    position: fixed;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 10;
}

    header h2 {
        margin: auto 0 auto 0;
    }

    header h2 a {
        text-decoration: none;
        color: black;
    }

.navBar ul {
    list-style-type: none;
    display: flex;
}

    .navBar a {
        text-decoration: none;
        color: black;
        padding: 20px 20px 16px 20px;
    }

        .navBar a:hover {
            background-color: #282c34;
            color: #fff;
        }
